.questionLogos {
	font-size: 1.2em;
	font-weight: bold;
	color: black;
}

.questionPartOfSpeech {
	font-style: italic;
	color: #adad85;
	font-size: 0.8em;
	padding-left: 5px;
}

.panel-default > .panel-heading {
  background-color: white;
}

.panel-success > .panel-heading {
    color: #3C763D;
    background-color: #DFF0D8;
    border-color: #D6E9C6;
}
.panel-danger > .panel-heading {
    color: #A94442;
    background-color: #F2DEDE;
    border-color: #EBCCD1;
}
.panel-heading {
	font-weight: bold;
}