<div class="quiz-area" ng-show="inProgress" ng-click="tapNext()">
	<div ng-show="!quizOver">
	   <div class="row">
	    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 panel" >
	        <div class="panel panel-default" ng-show="answerMode">
                <div class="panel-heading">Select your answer</div>
            </div>
		    <div class="panel panel-success" ng-show="correctAns && !answerMode">
	            <div class="panel-heading">Correct!</div>
	        </div>
	        <div class="panel panel-warning" ng-show="!correctAns && !answerMode">
	            <div class="panel-heading">Sorry, that is an incorrect answer</div>
	        </div>
        </div>
	    </div>
	    <div class="row">
		  <div id="question" class="col-xs-12 col-sm-12 col-md-10 col-lg-10"><span class="questionLogos">{{question.logos}}</span><span class="questionPartOfSpeech">{{question.partOfSpeech}}</span> </div>
		</div>
		<div class="row">
		    <div ng-repeat="option in options" class="col-xs-12 col-sm-12 col-md-5 col-lg-5" ng-click="tap(option, $event)">
		        <div class="panel panel-default {{option.answeredClass}}">
			        <div class="panel-heading">{{option.logos}}</div>
			    </div>
			</div>
		</div>
    </div>
    <div class="row">
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10" ng-show="!correctAns && !answerMode">    
            <div class="panel-heading">Tap to proceed</div>
        </div>
    </div>
	<div class ="row" ng-show="quizOver">
	   <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
		  <h2>Quiz is over</h2>
		  <button class="btn btn-info" ng-click="reset()">Play again</button>
		</div>
	</div>

	<div class ="row" id="score" ng-show="inProgress">
	    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
		    <span>Score: {{score}}</span>
	    </div>
	</div>
</div>

<div class="intro" ng-show="!inProgress">
	<p>Welcome to the Vocabulary Quiz</p>
	<button class="btn btn-info" id="startQuiz" ng-click="start()">Start the Quiz</button>
</div>