@import models._
@import controllers._
@import play.api.i18n._
@import play.api.mvc._
@import play.api.data._
@import views.html._
@import play.api.templates._
@import play.api.templates.PlayMagic._
@import play.api.libs.json.JsValue

@(profile: JsValue)

@main("Vocabulary Home","home") {

<div class="container">
 <div class="login-page clearfix">
   <div class="logged-in-box auth0-box logged-in">
     <img class="avatar" src='@((profile \ "picture").as[String])'/>
     <h2>Welcome @((profile \ "name").as[String])</h2>
   </div>
   <div>
     <a href="/words">Start Quiz</a>
   </div>  
 </div>
	
 

}
